@keyframes blink {
    0%,
    100% {
     opacity: 1;
    }
    50% {
     opacity: 0;
    }
   }
   @keyframes wave {
    0% {
     transform: scaleY(1);
    }
    50% {
     transform: scaleY(2);
    }
    100% {
     transform: scaleY(1);
    }
   }
